/*
font-family: 'Roboto', sans-serif;
font-family: 'Viga', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Gafata', sans-serif;
*/

* {
	margin: 0;
	padding: 0;
}

html, body {
	min-height: 100vh;
	background-color: #0C1A2C;
}

.main-container {
	background-color: #0C1A2C;
}

.content-box {
	background-color: #0C1A2C;
}

textarea {
   resize: none;
}

.content-box {
	margin-top: 5% !important;
}


/*NAVBAR-----------------------------------*/

.no-shadows {
    box-shadow: none!important;
}

nav {
	background-color: transparent;
	padding: 0 !important;
}

.top-nav-collapse {
    background-color: #0C1A2C;
}

#gamebox-brand {
	padding: .9%;
}

.brand-icon {
	background: -webkit-linear-gradient(105deg, rgba(103,255,192,1) 0%, rgba(0,134,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.8em;
}

.brand-one {
	background: -webkit-linear-gradient(105deg, rgba(103,255,192,1) 0%, rgba(89,176,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: bolder !important;
	font-size: 1.5em;
	font-family: 'Viga', sans-serif;
	margin-left: 5%;
}

.brand-two {
	background: -webkit-linear-gradient(105deg, rgba(103,255,192,1) 0%, rgba(89,176,255,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 500;
	font-size: 1.75em;
	font-family: 'Viga', sans-serif;
	padding-top: 10px;
	padding-left: 1px;
}

#navbarDropdown {
	color: #259868; 
	font-weight: 400;
}

#navbar-login {
	color: #259868; 
	font-weight: 400;
}

.nav-item {
	margin-right: 25px;
}

.navbar-link {
	background: -webkit-linear-gradient(254deg, rgba(255,177,67,1) 0%, rgba(255,86,86,1) 44%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Viga', sans-serif;
	font-size: 1.3em !important;
	margin-top: 4%;
	margin-left: 30px;
	position: relative;
}

.drop-link {
	background: -webkit-linear-gradient(254deg, rgba(255,177,67,1) 0%, rgba(255,86,86,1) 44%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: 'Viga', sans-serif;
	font-size: 1.3em !important;
	margin-top: 4%;
	margin-left: 5%;
	position: relative;
}

.dropdown-menu {
	background-color: #132134 !important;
	width: 240px;
}

.request-total {
	background: linear-gradient(254deg, rgba(210,146,55,1) 0%, rgba(212,74,74,1) 44%);
	color: white;
	font-size: 1.2em;
	border-radius: 400px;
	padding-bottom: .2em;
	padding-left: .4em;
	padding-right: .4em;
	padding-top: .2em !important;
	margin-left: .3em;
	font-family: 'Viga', sans-serif;
}

/*LANDING PAGE-----------------------------------*/
.landing-page {
	height: 950px;
	background-color: #0ebdff;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23810fa3'/%3E%3Cstop offset='1' stop-color='%230ebdff'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23337be9'/%3E%3Cstop offset='1' stop-color='%230ebdff'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg %3E%3Cg transform=''%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(-104.4 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.61' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-size: cover;
	padding: 0;
	margin: 0;
	font-family: 'Viga', sans-serif;
	position: relative;
}

.landing-page-content {
	color: white;
	padding: 5%;
	margin-top: 8%;
	margin-left: 5%;
}

.landing-page-content > h1 {
	font-size: 4.5em;
	margin-bottom: 2%;
	background: -webkit-linear-gradient(190deg, rgba(206,107,255,1) 0%, rgba(254,204,38,1) 46%, rgba(255,95,95,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.landing-page-content > h3 {
	margin-bottom: 7%;
	margin-left: 2%;
}

.landing-page-content > ul > li {
	list-style-type: none;
	margin-bottom: 5%;
	margin-left: 2%;
	font-size: 1.2em;
}

.landing-page-content > ul > li > img {
	margin-right: 2%;
}


.login-container > form {
	display: inline;
}

.login-container > text {
	font-size: 1.7em;
	margin-left: 2%;
}

.login-container > form > button {
	border-radius: 55px;
	margin-bottom: 2%;
	margin-left: 3%;
	font-weight: lighter;
	background: linear-gradient(190deg, rgba(183,95,255,1) 0%, rgba(255,152,81,1) 86%, rgba(255,198,5,1) 100%);
	box-shadow: black 55%;
	padding-top: 1% !important;
	padding-bottom: 1% !important;
	transition: all .3s;
}
.login-container > form > button > a {
	width: 25%;
	font-size: 2em !important;
	color: #2C2C2C !important;
	text-transform: capitalize;
	font-family: 'Viga', sans-serif;
	white-space: nowrap;
}

.login-container > form > button:hover {
	padding-left: 5%;
	padding-right: 5%;
}

.svg-zap {
	height: 30px;
}

.svg-wave2 {
	position: absolute;
	bottom: 0px;
	pointer-events: none;
}

.landing-page-col2 {
	display: flex;
	position: relative;
	bottom: 10px;
}

#png-controller {
	width: 85%;
	height: auto;
	transform: rotate(-15deg);
	z-index: 2;
}

#png-gameboy {
	width: 75%;
	height: auto;
	transform: rotate(15deg);
	z-index: 1;
}

.floating1 { 
	display: flex;
	position: absolute; 
    animation-name: floating1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
	margin-top: 5px;
	z-index: 2;
	left: 0px;
	top: 100px;
}

@keyframes floating1 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

.floating2 {  
	display: flex;
	position: absolute;
    animation-name: floating2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
	margin-top: 5px;
	z-index: 1;
	left: 320px;
	top: 370px;
}

@keyframes floating2 {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/*MENU-----------------------------------*/
.menu-header {
	color: #259868;
	font-family: 'Dosis', sans-serif;
	padding-top: 1em;
	padding-left: 1em;
	margin: 0;
}

.landing-card {
	transition: all .5s ease;
}

.landing-card:hover {
	box-shadow: 2px 2px 30px #000;
}

.landing-card-box {
	padding: 0;
}

.landing-menu-box {
	background-color: #0C1A2C !important; 
	box-shadow: none !important;
}

.landing-card-body {
	background-color: #132134 !important; 
}

.landing-card-footer {
	background-color: #132134 !important; 
	border: none !important; 
}

.landing-card-title {
	color: #C25D00;
	font-family: 'Exo', sans-serif;
}

.landing-card-text {
	color: #fff !important;
	font-family: 'Gafata', sans-serif;
}

.landing-card-button {
	color: #323232 !important;
	font-family: 'Exo 2', sans-serif;
	font-weight: 900 !important;
}

.admin-card {
	background-color: #223044 !important;
}

.admin-header {
	color: #259868;
	font-family: 'Exo', sans-serif;
	font-size: 1.4em;
}

.admin-button {
	color: #323232 !important;
	font-weight: 900 !important;
	font-family: 'Gafata', sans-serif;
	white-space: nowrap;
}
/*CONFIRM GAME REQUEST-----------------------------------*/
.confirm-card-body {
	background-color: #132134 !important;
}

.confirm-card-header {
	color: #000;
	font-family: 'Dosis', sans-serif;
	font-weight: 600 !important;
	font-size: 1.3em;
}

.confirm-card-title {
	color: #C25D00;
	font-family: 'Exo', sans-serif;
}

.confirm-card-text {
	color: #fff !important;
	font-family: 'Gafata', sans-serif;
}

.confirm-card-button {
	color: #323232 !important;
	font-family: 'Exo 2', sans-serif;
	font-weight: 900 !important;
}

/*ADMIN LIST-----------------------------------*/
.admin-list-button {
	white-space: nowrap;
}

/*USER LIST-----------------------------------*/
.user-list-alert {
	font-size: .8em;
}

/*FOOTER-----------------------------------*/

.footer1 {
	font-family: 'Viga', sans-serif;
	background-color: #0b0b0b;
	background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23242424' fill-opacity='0.22' fill-rule='evenodd'/%3E%3C/svg%3E");
	color: white;
	position: relative;
}

.footer1 > div > h1 {
	text-align: center;
	font-size: 3em;
}

.footer1 > div > h4 {
	text-align: center;
	font-size: 2em;
}

.footer1 > div > ul {
	display: flex;
	justify-content: space-around;
	margin-bottom: 5%;
}

.footer1 > div > ul > a > i {
	margin: 10% !important;
	color: #259868;
}

.footer1 > div > ul > a > i:hover {
	color: white;
	transition-duration: .2s;
}

.footer1 > div > form {
	display: flex;
	justify-content: center;
	padding: 5%;
	padding-top: 2%;
}

.footer1 > div > form > input {
	width: 65% !important;
	font-family: 'Roboto', sans-serif; 
}

.footer1 > div > form > button {
	margin: 0;
	margin-left: 2%;
	margin-bottom: 6%;
	color: black;
}

.fa-arrow-up {
	position: absolute;
	bottom: 15px;
	right: 25px;
	color: #259868;
	transition-duration: .2s;
}

.fa-arrow-up:hover {
	padding-bottom: .5%;
}

.footer2 {
	background-color: #222222;
	color: #259868 !important;
	font-family: 'Viga', sans-serif;
	font-size: .9em;
}

.footer2 > .col-3 {
	padding-top: 1.5%;
	padding-bottom: .5%;
	padding-left: 5.5%;
	padding-right: 5.5%;
}

.footer2 > .col-6 {
	padding: 0;
	margin: 0;
}

.footer2 > div > ul > li {
	list-style-type: none;
}

.footer2 > div > ul > li > a {
	color: #259868;
}

.footer2 > div > ul > li > a:hover {
	color: white;
	padding-left: 2.5%;
}

.googleMap {
	padding: 0 !important;
	margin: 0 !important;
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	 -ms-filter: grayscale(100%);
	  -o-filter: grayscale(100%);
		 filter: grayscale(100%);
}

#footerLabel { 
	color: white !important;
	font-size: .8em;
}

